
/*------------------------------------------------------------------------------------------*/
/*--------------------------------- FREESONGS INDEX-FIRST PAGE------------------------------*/
/*------------------------------------------------------------------------------------------*/

/* ------------------- Main Navbar ---------------- */
#main_nav{
    padding: 5px;
    box-shadow: 0 0 10px black;
    height: 60px;
    margin: auto;
}
#main_nav a{
    color: white;
    text-decoration: none;
    padding: 10px 25px;
    display: inline-block;
    margin: auto;
}
#main_nav a:hover{
    background-color: #be6347;
    border-radius: 50px;
    box-shadow: 0 0 5px gray;
}
#main_nav a.active{
    background-color: darkred;
    border-radius: 50px;
}
.search_box{
    width: auto;
    background: transparent;
    color: white;
}


/* ---------------- Index Page Section ---------------- */

.index-page-section{
    width: 80%;
    margin: auto;
}
.index-page-article{
    margin: 20px 15px;
    text-align: center;
    box-shadow: 0 0 10px black;
    border-radius: 10px;
}
.index-page-heading{
    background: linear-gradient(45deg,#be6347,black,#be6347);
    padding: 20px;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.index-page-heading h2{
    margin: 0;
}
.index-page-body{
    padding: 20px;
}
.index-page-body h3{
    font-size: 18px;
    color: #be6347;
}
.imagebox{
    border:5px solid hotpink;
    box-shadow:0 0 10px cornflowerblue ;
}

/*------------ Bollywood,Hollywood,Devotional Card Image -----------------*/
.zoom{
    width: 550px;
    height: 374px;
    margin: auto;
    box-shadow: 0 0 10px black;
    border-radius: 10px;
    overflow: hidden;
}

.zoom img{
    width: inherit;
    height: inherit;
    border-radius: 10px;
    transition: all 0.5s;
    overflow: hidden;
    border: 5px solid lightblue;
}
.zoom:hover img{
    transform: scale(1.2,1.2);
    border: 5px solid lightpink;
}


/* ---------------------------------------- Main Footer ------------------------------ */
.main-footer{
    background: linear-gradient(45deg,#be6347,black,#be6347);
    padding: 5px;
    text-align: center;
    color: white;
    box-shadow: 0 0 10px black;
}
.main-footer a{
    color: orange;
}

/*-----------------------Songs Categories Buttons-------------*/

/*-------------- Dashed Border-------------*/
#btn1,#btn4,#btn7,#btn3,#btn6,#btn9,#btn2,#btn5,#btn8{
    border:1px dashed navajowhite;
}
/*------ Left Buttons Border radius ------*/
#btn1,#btn4,#btn7{
    border-bottom-left-radius: 50%;
    border-top-left-radius: 50%;
}
/*------ Right Buttons Border radius ------*/
#btn3,#btn6,#btn9 {
    border-bottom-right-radius: 50%;
    border-top-right-radius:50%;
}
/*------ Middle Buttons Border radius ------*/
#btn2,#btn5,#btn8{
    border-radius: 70px;
}

/*------------- Buttons Hover Effect-----------*/
#btn1:hover{
    border:3px solid white;
}
#btn2:hover{
    border:3px solid white;
}
#btn3:hover{
    border:3px solid white;
}
#btn4:hover{
    border:3px solid white;
}
#btn5:hover{
    border:3px solid white;
}
#btn6:hover{
    border:3px solid white;
}
#btn7:hover{
    border: 3px solid white;
}
#btn8:hover{
    border:3px solid white;
}
#btn9:hover{
    border:3px solid white;
}

/*---------------------------------------------------------------------------------------*/
/* ---------------------------------- Audio Section ------------------------------------ */
/*---------------------------------------------------------------------------------------*/

/*----------- Title Freesongs and Image----------*/

#main-bar{
    background: rgb(4,106,146)url("../images/home page.gif") no-repeat scroll center ;
    height: 150px;
    padding: 12px;
    color: white;
    text-align: right;
}

#title{
    font-weight: bolder;
    font-family:"Yu Gothic UI Semibold";
    text-shadow: 0 0 30px black ;
}



/*----------------Audio Navigation Bar-------------------*/

.main_nav_index{
    background: linear-gradient(45deg,#be6347,black,#be6347);
    padding: 5px;
    box-shadow: 0 0 10px black;
    height: 60px;
}

/*------------ Navigation Elements -----------*/
.main_nav_index a{
    color: white;
    text-decoration: none;
    padding: 10px 25px;
    display: inline-block;
    margin: auto;
}

/*------------ Navigation Elements Hover Effect -----------*/
.main_nav_index a:hover{
    background-color: #be6347;
    border-radius: 50px;
    box-shadow: 0 0 5px gray;
}

/*------------ Navigation Elements Active Effect -----------*/
.main_nav_index a.active{
    background-color: darkred;
    border-radius: 50px;
}

/*-------------- Bollywood Hollywood Devotional Section Background -------------*/
.hollywood_bg,.bollywood_bg,.devotional_bg{
    background: rgb(4,106,146)url("../images/bg landscape1.jpg") round ;
}

/*------------- audio card 1 for Psycho Saiyaan Song -------------------*/

.audio_card_1,.audio_card_psycho{
    border: 2px solid darkred;
    border-radius: 20px;
}

/*------------ audio_card_1 Example Songs Background Image -------------------*/
.audio_card_1{
    background: rgb(4,106,146)url("../images/bestcollection.jpg") round ;

}

/*------------ Psycho Saiyaan Song Image --------------------*/
.audio_card_psycho{
    background: rgb(4,106,146)url("../images/psychoSaiyan.jpg") round ;
}

/*--------------- Psycho Saiyaan Play Button ---------*/
.audio_play_btn,.audio_play{
    border-radius: 30px;
    background-image: url("../images/bg sky.gif") ;
    color: white;
    font-size: x-large;
    width: 150px;
    height: 70px;
}

/*--------------- Psycho Saiyaan Play Button Background Image ---------*/
#audio_play_btn5{
    background-image: url("../images/bg sky.gif");
}


/*------------------------------- Songs List Styles --------------------------*/

.audio_card_2{
    border-radius: 40px;
    border : 2px solid white;
    background: transparent;
}

/*----------------- Songs List Play Button ---------*/
.play_btn_2{
    border-radius: 100px;
}

/*------------------ Devotional Song_Card_1 Play Button ------------*/
.audioPlayBtn{
    border-radius: 30px;
    color: white;
    border: 2px solid wheat;
    font-size: medium;
    width: 200px;
    height: 52px;
    background-image: url("../images/bg sky.gif") ;
}
/*-------------- Hollywood Audio-Card-1 Play Btn Background Section ------------------*/
#playbtnsection3,#playbtnsection4{
    border-radius: 30px;
    color: white;
    font-size: x-large;
    width: 150px;
    height: 80px;
    background: transparent;
}

/*---------------- Hollywood Card-1 and Card-2 Play Buttons ----------------*/
#audio_play_btn3,#audio_play_btn4{
    background-image: url("../images/bg sky.gif") ;
}
#audio_play_btn5{
    background-image: url("../images/bg sky.gif");
}

#video_playbtn1,#video_playbtn{
    size: 20px;

}



/*-------------------------------------------------------------------------------------*/
/* ------------------------------------ Video Songs Section -------------------------- */
/*--------------------------------------------------------------------------------------*/


/*----------- Freesongs Background Image ------------*/
.main-header{
    background: rgb(4,106,146)url("../images/gradient1.jpg") round ;

}
/*---------------- Bollywood,Hollywood,Devotional Switch Buttons -------------*/
.bollywood_video_btn:hover{
    border-radius: 30px;
    border-left: 20px solid darkred;
    border-right:20px solid darkred;

}
.hollywood_video_btn:hover {
    border-radius: 30px;
    border-left: 20px solid darkred;
    border-right:20px solid darkred;
}
.devotional_video_btn:hover {
    border-radius: 30px;
    border-left: 20px solid darkred;
    border-right:20px solid darkred;
}

/*----------- Fieldset and legend Styles ---------------*/
fieldset{
    border: 2px solid orangered;
    border-radius: 10px;
    box-shadow: 0 0 5px black;
    padding: 20px 10px;
}
legend {
    background: linear-gradient(200deg,red,hotpink,blue,orangered,forestgreen,fuchsia);
    color: white;
    height: 50px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 5px black;
}

/*------------ Legend Navigation Items --------------*/
.categories{
    border: 1px solid wheat;
}

.categories:hover{
    border: 2px solid white;
}

/*--------- Legend hover ------------*/
.gallery-figure,legend:hover{
    box-shadow: 0 0 10px darkred;
    cursor: pointer;
}

@media (max-width: 600px) {
    legend{
       height:100px;
    }
}

/*-------------- Video song Download Button -------------*/
.video-download{
    width: 80%;

}
/* ----------------Latest and Trending Superscripted Words ----------*/
sub{
    color: red;
    font-size:x-small;
}

/*----------------- Video song Screen Size ----------------------*/
.video-element{
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border: 2px solid lightcoral;
    video-fluid;

}

/*---------- Video Songs Card -------------*/
.video-card{
    border: 2px solid darkred;
    box-shadow: 0 0 10px darkred;
    align-items: center;
    margin: 5px;
}

/*------------ Video Songs Details Info --------------*/
.video-details{
   text-align: center;
}

/*----------- Video Example GIF ----------------*/
.video-example{
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border: 2px solid lightcoral;
    margin: 5px;
}

/*-------------------------------------------------------------------------------*/
/* ------------------------------- Movies Section ------------------------------- */
/*-------------------------------------------------------------------------------*/

/*------ Mostly Bootstrap is used.Less CSS Codes --------*/
.movie-section{
    width: 95%;
    margin: auto;
}

/*-------------------------------------------------------------------------------*/
/* ----------------------------- Contact Section ------------------------------- */
/*-------------------------------------------------------------------------------*/

/*--------------- Background-Image -----------------*/
.contact-section{
    background: white url("../images/headphone.gif") no-repeat scroll bottom;
    padding: 15px;
}

/*---------------------- Contact Form -------------------*/
.contact-article{
    padding: 15px;
    width: 250px;
    text-align: center;
    margin: auto;
    background-color: rgba(0,0,0,0.5);
    box-shadow: 0 0 10px #ba9e82;
    border-radius: 10px;
}
.contact-article h2{
    color: lightgray;
}
/*----------------- Form Input Field -------------------*/
.input-field{
    font-size: 18px;
    border: none;
    outline: none;
    height: 35px;
    margin: 5px;
    text-align: center;
    background: transparent;
    border-bottom: 3px solid #8b7661;
    width: 200px;
    color: white;
}

/*--------------- Textarea Section -------------------*/
.contact-form textarea{
    border: 3px solid #8b7661;
    outline: none;
    background: transparent;
    margin: 5px;
    width: 180px;
    color: white;
    border-radius: 10px;
}
.contact-form textarea:focus{
    border: 3px solid #ba9e82;
}

/*-------------- Input Field ------------------*/
::placeholder{
    color: lightgray;
}
.input-field{
    border-top-left-radius: 30px ;
}
.input-field:focus{
    border-bottom: 3px solid #ba9e82;
}

/*--------------- Submit Button Styles ---------------*/
#submit-btn{
    background-color: #574937;
    color: white;
    margin: 15px 10px;
    font-size: 18px;
    border: none;
    outline: none;
    padding: 12px 25px;
    width: 150px;
    border-radius: 50px;
    box-shadow: 0 0 5px black;
}
#submit-btn:hover{
    background-color: #8b7661;
    cursor: pointer;
}



/*--------------------------------------------------------------------------*/
/*--------------------------- Responsive Webpage ---------------------------*/
/*------------------------------ Media Query -------------------------------*/
/*--------------------------------------------------------------------------*/


/*----------------- Home Page --------------------*/

.indexBody{
    background: white url("../images/indexbg1.jpg")  round ;
}

.indexPage_bgImage{
    width: 100%;height: 1930px;
    background-size:cover;
    background: 100% 100%;
}

@media(max-width:450px)  {
}

@media (max-width: 900px) {
    .indexPage_bgImage{
        width: 100%;height: 1930px;
        background-size:contain;
        background: 100% 100%;
    }
}

@media (max-width: 900px) {
    #main_nav{
        height: auto;
        width: 100%;
    }
}
@media (max-width: 400px) {
    .indexPage_image{
        height: 150px;
        width: 150px;
    }
    .indexPage_BestMusic{
        font-size: large;
    }
    .indexPage_sectionHeading{
        font-size: large;
    }
}

@media (min-width: 500px) {
    .indexPage_image{
        height: 150px;
        width: 350px;
    }
}

@media (min-width: 500px) {
    .indexPage_image {
        width: 300px;
        height: 200px;
    }
}
@media (min-width: 900px) {
    .zoom {
        width: 500px;
        height: 300px;
    }
}
@media (min-width: 1100px) {
    .zoom{
        width: 600px;
        height: 375px;
    }
}

@media (max-width: 1100px) {
    #btn1,#btn4,#btn7,#btn3,#btn6,#btn9,#btn2,#btn5,#btn8 {
        border-radius: 30px;
    }
}

/*--------------------------- Audio Songs Page --------------------*/

@media (max-width: 1050px) {
    #main-bar{
        height: 140px;
        background: rgb(4,106,146)url("../images/FREESONGS_3.gif") no-repeat scroll center ;
    }
    #title{
        display: none;
    }
}
@media (max-width: 750px) {
    .main_nav_index {
        height: auto;
    }
    .audio_legend{
        height: 40px;
    }
    .audio_card_1{
        margin-top:30px;
    }
    #audio_play_btn3{
        width: 700px;
    }
}


/*------------- Video Songs Page --------------*/

@media (max-width: 420px) {
    .switch-button{
        width: 300px;
        display: block;
    }
    #trending{
        height: auto;
    }
    #latest{
        height: auto;
    }
    #most-liked{
        height: auto;
    }
    #old-favourites{
        height: auto;
    }
    .bollywood_video_btn{
        margin: 3px;
        border-bottom-right-radius: 50px;
        border-top-left-radius: 50px;
    }
    .hollywood_video_btn{
        margin: 3px;
        border-bottom-right-radius: 50px;
        border-top-left-radius: 50px;
    }
    .devotional_video_btn{
        margin: 3px;
        border-bottom-right-radius: 50px;
        border-top-left-radius: 50px;
    }
    .video_element_card1{
        width:280px;
    }
    .video-element{
        width:280px;
    }
    #video_element_Card2{
        width: 280px;
    }
}

@media (max-width: 570px) {
    .switch-button{
        width: 400px;
        display: block;
    }
    #trending{
        height: auto;
    }
    #latest{
        height: auto;
    }
    #most-liked{
        height: auto;
    }
    #old-favourites{
        height: auto;
    }
    .bollywood_video_btn{
        margin: 3px;
        border-bottom-right-radius: 50px;
        border-top-left-radius: 50px;
    }
    .hollywood_video_btn{
        margin: 3px;
        border-bottom-right-radius: 50px;
        border-top-left-radius: 50px;
    }
    .devotional_video_btn{
        margin: 3px;
        border-bottom-right-radius: 50px;
        border-top-left-radius: 50px;
    }
    .video_element_card1{
        width:360px;
    }
    .video-element{
        width:360px;
    }
    #video_element_Card2{
        width: 360px;
    }
}

@media (min-width: 571px){
    .switch-button{
    }
    .bollywood_video_btn{
        border-bottom-left-radius: 20px;
        border-top-left-radius: 20px;
    }
    .hollywood_video_btn{
    }
    .devotional_video_btn{
        border-bottom-right-radius: 20px;
        border-top-right-radius: 20px;
    }
    .video_element_card1{
        width:430px;
    }
    .video-element{
        width:430px;
    }
    #video_element_Card2{
        width: 430px;
    }
}

@media (min-width: 650px) {
    .switch-button{
    }
    .bollywood_video_btn{
        border-bottom-left-radius: 20px;
        border-top-left-radius: 20px;
    }
    .hollywood_video_btn{
    }
    .devotional_video_btn{
        border-bottom-right-radius: 20px;
        border-top-right-radius: 20px;
    }
    .video-card{
    }
    .video-element{
        width:500px;
    }
    #video_element_Card2{
        width: 500px;

    }
    .video_element_card1{
        width: 500px;
    }
}

@media (min-width: 720px) {
    .switch-button{
    }
    .bollywood_video_btn{
        border-bottom-left-radius: 20px;
        border-top-left-radius: 20px;
    }
    .hollywood_video_btn{
    }
    .devotional_video_btn{
        border-bottom-right-radius: 20px;
        border-top-right-radius: 20px;
    }
    .video-card{
    }
    .video-element{
        width:570px;
    }
    #video_element_Card2{
        width: 570px;

    }
    .video_element_card1{
        width: 570px;
    }
}

@media (min-width: 767px){
    .switch-button{
    }
    .bollywood_video_btn{
        border-bottom-left-radius: 20px;
        border-top-left-radius: 20px;
    }
    .hollywood_video_btn{
    }
    .devotional_video_btn{
        border-bottom-right-radius: 20px;
        border-top-right-radius: 20px;
    }
    .video-card{
    }
    .video-element{
        width:250px;
    }
    #video_element_Card2{
        width: 250px;

    }
    .video_element_card1{
        width: 250px;
    }
}

@media (min-width: 875px){
    .switch-button{
    }
    .bollywood_video_btn{
        border-bottom-left-radius: 20px;
        border-top-left-radius: 20px;
    }
    .hollywood_video_btn{
    }
    .devotional_video_btn{
        border-bottom-right-radius: 20px;
        border-top-right-radius: 20px;
    }
    .video-card{
    }
    .video-element{
        width:290px;
    }
    #video_element_Card2{
        width: 290px;

    }
    .video_element_card1{
        width: 290px;
    }
}

@media (min-width: 993px){
    .switch-button{
    }
    .bollywood_video_btn{
        border-bottom-left-radius: 30px;
        border-top-left-radius: 30px;
    }
    .hollywood_video_btn{
    }
    .devotional_video_btn{
        border-bottom-right-radius: 30px;
        border-top-right-radius: 30px;
    }
    .video-card{
    }
    .video-element{
        width:200px;
    }
    #video_element_Card2{
        width:200px;
    }
    .video_element_card1{
        width:200px;
    }
}

@media (min-width: 1100px){
    .switch-button{
    }
    .bollywood_video_btn{
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px;
        border-top-left-radius: 0px ;
    }
    .devotional_video_btn{
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px;
        border-top-right-radius: 0px ;
    }
    .hollywood_video_btn{
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
    }
    .video_card1_details{
        margin-top: 8px;
    }
    .video-element{
        width:220px;
    }
    #video_element_Card2{
        width: 240px;
    }
    .video_element_card1{
        width: 230px;
    }
}

@media (min-width: 1300px){
    .switch-button{
        width: 80%;
    }
    .bollywood_video_btn{
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px;
        border-top-left-radius: 0px ;
    }
    .devotional_video_btn{
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px;
        border-top-right-radius: 0px ;
    }
    .hollywood_video_btn{
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
    }
    .video_card1_details{
        margin-top: 8px;
    }
    .video-element{
        width:260px;
    }
    #video_element_Card2{
        width: 260px;
    }
    .video_element_card1{
        width: 260px;
    }
}


/*----------------------- Movies Page --------------------*/

@media (max-width: 600px){
    .movies_image{
        width:800px;
    }
}



/*------------------------------------ END -----------------------------------------*/
/*------------------------------------ END -----------------------------------------*/
/*------------------------------------ END -----------------------------------------*/
